/*Page d'accueil*/


/***************Images**********************/
.logo {
    width: 150px;
}

.imgaccueil {
    width: 55%;
}

/***************Textes**********************/

h1, h3 {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.2em;
}

h3 {
    font-size: 20px;
    line-height: 35px;
}

.blockquote {
    font-family: 'Poppins', sans-serif;

    font-weight: 200;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
}

.buttonaccueil button {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 16px;

}
